<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Codices</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/Deportes/estilos.css">
	</head>
	<body>
		<div class="header">
			<div class="topHeader">
				<div class="contenedor">
					<div class = "topMenu">
						<ul>
							<li><a href="/">Inicio</a></li>
						</ul>
					</div>


				</div>
			</div>

			<div class="titulo">
				<div class = contenedor>
					<h1><a href="">Deportes</a></h1>
				</div>
			</div>

		</div>
		<div class="main">
			<div class="portada">
				<div class="contenedor">
					<div class="portadaPrincipal">
						<img src="../../static/img/Deportes/portada.jpeg" width="1150" >
					</div>
				</div>
			</div>

			<div class="cursos">
				<div class="contenedor">
					<div class="articulos">
						<ul>
    						{% for curso in curso_deportes %}
    						<div class = "articulo">
    							<li>
    								<div class="izquierda">
    									<img src="{{ curso.imagen.url }}" class='imgRedonda'>
    								</div>
    								<div class="derecha">
    									<h3 class="titulo">{{curso.nombre}}</h3>
    									<div class="texto-articulo">
    										<p>Información: {{curso.descripcion}}</p>
    										<p>Costo: {{curso.costo}} Bs</p>
    										<p>Fecha Inicio: {{curso.fechaInicio}}</p>
    										<p>Fecha Fin: {{curso.fechaFin}}</p>
    								
    									</div>
									</div>
    							</li>
    						</div>
   							{% endfor %}
    					</ul>
						<!--
						<div class="articulo1">
							<h3 class="titulo">Escuela de Futbol Paz García</h3>
							<img src="../../static/img/Deportes/paz-garcia.jpg" width="500" height="200"  class='imgRedonda' />
							<div class="texto-articulo1">
								<p>Dirección: Cancha Zapata, esq. Montevideo #2103</p>
								<p>Contactos: 70686128 - 61003601</p>
							</div>
						</div>
						<div class="articulo2">
							<h3 class="titulo">Escuela De Basquetbol Leyendas AND1</h3>
							<img src="../../static/img/Deportes/basket.jpg" alt="" height="300" class='imgRedonda' />
							<div class="texto-articulo2">
								<p>Dirección: Complejo deportivo FALCON ubicado en la Calle Linares frente a REMAR</p>
								<p>Contactos: 70542706</p>
								<p>Costo: 250 Bs</p>
							</div>
						</div>
					    -->
					</div>
				</div>
				<div class="aside">

				</div>
			</div>
		</div>
		<div class="footer">
			<p>Más información</p>
			<div class = "topMenu">
				<ul>
					<li><a href="#">Acerca de nosotros</a></li>
					<li><a href="#">Contáctenos</a></li>
				</ul>
			</div>
			<div class="topRedes">
				<ul>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Facebook</a></li>

				</ul>
			</div>
		</div>

	</body>
</html>
