<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">

 
  <link rel="stylesheet" href="../../static/css/AñadirCurso/estilos.css">
 
  <title>Añadir Curso</title>
</head>
<body>
    <div class="header">
      <div class="topHeader">
        <div class="contenedor">
          <div class = "topMenu">
            <ul>
              <li><a href="/">Inicio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

   <div class="contenedor1">
     <div class="login-container">
       <div class="register">
         <h2>Añadir Curso</h2><br>
         <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>

          
          <!--
          <label for="nombre">Nombre del Curso:</label>
          <input type="text" id="nombre" name="curso_nombre">
          
          <label for="cat">Categoria:</label>
          <select id="cat"> 
            <option value="arte">Arte</option>
            <option value="deportes">Deportes</option>
            <option value="educacion">Educación</option>
            <option value="tecnologia">Tecnología</option>
          </select>

          <label for="costo">Costo:</label>
          <input type="text" id="costo" name="curso_costo">
          <label for="des">Descripción:</label>
          <textarea id="des" name="curso_des"></textarea>
          <label for="date">Fecha Inicio:</label>
          <input type="date" id= "date" name="curso_date">
          <label for="date">Fecha Fin:</label>
          <input type="date" id= "date" name="curso_date">
          <label for="img">Imagen:</label>
          <input type="file" id="img" name="img" accept="image/*">
          <input type="submit" class="submit" value="Añadir Curso">
          -->
         </form>
       </div>
     </div>
   </div>
   <div class="footer">
      <p>Más información</p>
      <div class = "topMenu">
        <ul>
          <li><a href="#">Acerca de nosotros</a></li>
          <li><a href="#">Contactenos</a></li>
        </ul>
      </div>
      <div class="topRedes">
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>

        </ul>
      </div>
    </div>
</body>
</html>

{% endblock %}